# i3status configuration file.
# see "man i3status" for documentation.

general {
        colors = true
        interval = 1
}
{{ if ( eq .chezmoi.hostname "rich-desktop" ) }}
order += "ethernet _first_"
order += "disk /"
order += "disk /home/"
order += "load"
order += "memory"
order += "tztime local"
{{ else if ( eq .chezmoi.hostname "rich-rog" ) }}
order += "ethernet _first_"
order += "wireless _first_"
order += "battery all"
order += "disk /"
order += "load"
order += "memory"
order += "volume master"
order += "tztime local"
{{end}}
ethernet _first_ {
    format_up = "E: %ip (%speed)"
    format_down = "E: down"
}
{{ if ( eq .chezmoi.hostname "rich-rog" ) }}
wireless _first_ {
    format_up = "W: (%quality at %essid) %ip"
    format_down = "W: down"
}

battery all {
    format = "%status %percentage %remaining"
}
{{ end }}
disk "/" {
    format = "%avail"
}

disk "/home/"{
	format = "%avail"
}

load {
    format = "%1min"
}

memory {
    format = "%used | %available"
    threshold_degraded = "1G"
    format_degraded = "MEMORY: %free"
}

volume master {
    format = " %volume"
    format_muted = " %volume"
    device = "pulse:alsa_output.pci-0000_04_00.6.analog-stereo"
}

tztime local {
    format = "%Y-%m-%d %H:%M:%S"
}
